body {
    margin: 0px;
    background: #203148fc;
    font-weight: 500;
    font-family: monospace, sans-serif;
    font-size: 12px;
  }
  
  input[type='radio'] {
    display: none;
  }

  .wrapper {
    display: flex;
    height: 100%;
    &_nav {
        flex: 0 0 180px;
      }
    &_canvas {
        flex: 1 auto;
      }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }