.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
    &:target {
        visibility: visible;
        opacity: 1;
      }
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
    h2 {
        margin-top: 0;
        color: #333;
      }
      &_close {
        position: absolute;
        right: 30px;
        transition: all 0.2s;
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      &_content {
        max-height: 50%;
        overflow: auto;
      }
  }

  
  